<!DOCTYPE html>
<html>
  <head>
    <title>Мои клиенты</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/common.css">
    <link rel="stylesheet" href="/customers.css">
    <link rel="stylesheet" href="/funnel.css">
    <link rel="stylesheet" href="/navigation.css">
  </head>
  <body>
    <div class="pageHeader">
      <ul class="topNavigation onlyDesktop">
        <li><a href="/" class="topNavigation__link">Новые клиенты</a></li>
        <li><a class="topNavigation__link topNavigation__link--active">Мои клиенты</a></li>
        <li><a href="#" class="topNavigation__link">Продажи</a></li>
        <li><a href="#" class="topNavigation__link">Отказы</a></li>
        <li><a href="#" class="topNavigation__link">История</a></li>
      </ul>
      <ul class="topNavigation onlyMobile">
        <li><a href="/" class="topNavigation__link" style="float:right">История</a></li>
      </ul>      
    </div>
    
    <div class="list">
        <h1 class="pageTitle">В работе</h1>
      
        <% funnel.forEach( step => { %>
          <% if (step.name) { %>
            <h2 class="funnelTitle"><%= step.name %></h2>
          <% } %>
          
          <% if (step.customers.length > 0) { %>
              <% step.customers.forEach( customer => { %>
                <div class="row lead">
                    <div class="col callbackButton"></div>
                    <div class="col">
                        <div class="name"><%= customer.name %></div>
                        <div class="row info">
                          <span><%= customer.info %></span>
                      </div>
                    </div>
                    <div class="col funnelDownButton"></div>
                </div>      
              <%  }); %>
          <% } else { %>
            Нет клиентов на этом этапе
          <% } %>
        <%  }); %>      
    </div>
    
    <ul class="bottomMenu onlyMobile">
      <li><a href="/" class="bottomMenu__link">Новые</a></li>
      <li><a class="bottomMenu__link bottomMenu__link--active">Мои клиенты</a></li>
      <li><a href="#" class="bottomMenu__link">Закрытые</a></li>
    </ul>
  </body>
</html>